In [1]:
#exercise 2.1
#the sum of first five positive integer
a= 1 + 2 + 3 + 4 + 5
#the average age of sara mark and fatima
b= (23 + 19 + 31) / 3
#the number of times 73 goes into 403
c= 403 // 73
#the remainder when 403 was divided by 73
d= 403 % 73
#2 to the 10th power
e= 2**10
#The absolute value of the diﬀerence between Sara’s height (54 inches) and Mark’s height(57inches) 
f= abs(54 - 57)
#The lowest pric eamong the following prices :$34.99,$29.95,and$31.50
g= min(34.99, 29.95, 31.50)

print("1:", a)
print("2:", b)
print("3:", c)
print("4:", d)
print("5:", e)
print("6:", f)
print("7:", g)

1: 15
2: 24.333333333333332
3: 5
4: 38
5: 1024
6: 3
7: 29.95

In [2]:
#exercise 2.2
# The sum of 2 and 2 i sless than 4.
a= 2 + 2 < 4 
# The value of 7 // 3isequalto1 + 1.
b= 7 // 3 == 1 + 1 
# The sum of 3 squared and 4 squared is equal to 25
c= 3**2 + 4**2 == 25 
#) The sum of 2,4, and 6 is greater than 12. 
d= 2 + 4 + 6 > 12 
#1387 is divisibl eby 19. 
e= 1387 % 19 == 0 
# 31 is even.(Hint:whatdoestheremainderwhenyoudivideby2tellyou?)
f= 31 % 2 == 0 
# The lowest pric eamong$34.99,$29.95,and$31.50 is less than $30.00.
g= min(34.99, 29.95, 31.50) < 30.00 

print("1:", a)
print("2:", b)
print("3:", c)
print("4:", d)
print("5:", e)
print("6:", f)
print("7:", g)

1: False
2: True
3: True
4: False
5: True
6: False
7: True

In [3]:
#exercise 2.3
# Assign integer value 3 to variable a. 
>>> a = 3
#Assign 4 to variable b. 
>>> b = 4
# Assign to variable c the value of expression a * a + b * b.
>>> c = a * a + b * b 
print("1:", a)
print("2:", b)
print("3:", c)

1: 3
2: 4
3: 25

In [10]:
#exercise 2.4
#WritePythonexpressionsusings1,s2,ands3andoperators+and*thatevaluateto:
#(a) 'ant bat cod'
#(b) 'ant ant ant ant ant ant ant ant ant ant '
#(c) 'ant bat bat cod cod cod' 
#(d) 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '
#(e) 'batbatcod batbatcod batbatcod batbatcod batbatcod '

s1= (" ant ") 
s2= (" bat ")
s3= (" cod ")
a= s1 + ''+ s2 + ''+ s3
b= 10 * (s1 + '')
c= s1 + '' + 2 * (s2 + '') + 2 * (s3 + '') + s3
d= 7 * (s1 + ''+ s2 + '')
e= 3 * (2 * s2 + s3 + '')
print("1:", a)
print("2:", b)
print("3:", c)
print("4:", d)
print("5:", e)

1:  ant  bat  cod
2:  ant  ant  ant  ant  ant  ant  ant  ant  ant  ant
3:  ant  bat  bat  cod  cod  cod
4:  ant  bat  ant  bat  ant  bat  ant  bat  ant  bat  ant  bat  ant  bat
5:  bat  bat  cod  bat  bat  cod  bat  bat  cod

In [13]:
#exercise 2.5
#write expressions using strings and the indexing operator to evaluate
s= '0123456789 '
s=[0]
print('a',s)
s=[1]
print('b',s)
s=[6]
print('c',s)
s=[8]
print('d',s)
s=[9]
print('e',s)

a [0]
b [1]
c [6]
d [8]
e [9]

In [6]:
#exercise 2.6
s1= ' Jasmine is a white flower'
s2= ' Rose has a strong fragrance '
s3= ' Lotus is a water plant'
if len(s2)>len(s2)>len(s3): 
    print("S1 has max words") 
else: print ("s2 has max words")

s2 has max words

In [7]:
#exercise 2.7
grades= [45, 32, 11, 32, 67, 89, 55, 7, 53, 60, 34]
a= grades.count(20)
b= grades[-1] = 4
c= max([grades])
d= grades.sort()
e= sum(grades) / len(grades)

print("1:", a)
print("2:", b)
print("3:", c)
print("4:", d)
print("5:", e)

1: 0
2: 4
3: [4, 7, 11, 32, 32, 45, 53, 55, 60, 67, 89]
4: None
5: 41.36363636363637

In [1]:
#exercise 2.8
#In what order are the operators in the following expressions evaluated? 
(a) 2 + 3 == 4 or a >= 5 
x=4
((3 + 3) == 4) or (x >= 5)

False

In [10]:
#(b) lst[1] * -3 < -10 == 0  
(c) (lst[1] * -3 < -10) in [0, True] (d) 2 * 3**2 (e) 4 / 2 in [1, 2, 3]
lst= [3,6,7,8,1,2,77,43,100,45,23,56]
(((lst[1]) * (-3)) < (-10)) == 0

False

In [11]:
#(c) (lst[1] * -3 < -10) in [0, True]
lst= [3,6,7,8,1,2,77,43,100,45,23,56]
(((lst[1]) * (-3)) < (-10)) in [0, True]

True

In [15]:
#exercise 2.9
#What is the type of th eobject that these expressions evaluate to? 
#(a) False + False
#(b) 2 * 3**2.0 
#(c) 4 // 2 + 4 % 2 
#(d) 2 + 3 == 4 or 5 >= 5
a=type (False + False)
print (a)
b=type (2 * 3**2.0)
print(b)
c=type ( 4 // 2 + 4 % 2 )
print(c)
d=type( 2 + 3 == 4 or 5 >= 5)
print(d)

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [17]:
#exercise 2.10
#Write Python expressions corresponding to the following:
#(a) The length of the hypotenuse in a right triangle whose other two sides have lengths a and b 
#(b) The value of the expression that evaluates whether the length of the above hypotenuse is 5 
#(c) The area of a disk of radius a 
#(d) The value of the Boolean expression that checks whether a point with coordinates x and y is inside a circle with center (a,b) and radius r
(a) math.sqrt(a**2 + b**2)
(b) math.sqrt(a**2 + b**2) == 5 
(c) math.pi * a**2
(d) (x - a)**2 + (y - b)**2 < r**2

SyntaxError: invalid syntax (<ipython-input-17-0cde5c56ce72>, line 7)

In [9]:
#exercise 2.11
#(a)the sum of negative integer
a = -1 + -2 + -3 + -4 + -5 + -6 + -7
print ('(a)', a)

(a) -28

In [6]:
#(d) The number of times 61 goes into 4356.
d = 4356//61
print ('(d)', d)

(d) 71

In [7]:
#(e) The remainder when 4356 is divided by 61.
e = 4356%61
print ('(e)', e , '\n')

(e) 25

In [8]:
#(c) 2 to the 20th power.
c = 2**20
print ('(c)', c)

(c) 1048576

In [16]:
#exercise 2.13
s = 'abcdefghijklmnopqrstuvwxyz'

print(s[0]+" "+s[2]+" "+s[25]+" "+s[24]+" "+s[16])

a c z y q

In [25]:
#exercise 2.14
#s = 'goodbye'
#Then write a Boolean expression that checks whether: 
#(a) The ﬁrst character of string s is 'g'
#(b) The seventh character of s is 'g'
#(c) The ﬁrst two characters of s are 'g' and 'a' 
#(d) The next to last character of s is 'x'  
#(e) The middle character of s is 'd' (f) The ﬁrst and last characters of string s are equal 
#(g) The last four characters of strings match the string 'tion'

s='goodbye' 
print(s[0]=='g')
s='goodbye'
print(s[6]=='g')
s='goodbye'
print(s[0],s[1]=='g','a')
s='goodbye'
print(s[5]=='x') 
s='goodbye'
print(s[3]=='d')
s='goodbye'
print(s[0]==s[6])

True
False
g False a
False
True
False

In [29]:
#exercise 2.15
#Write Python expressions corresponding to these statements: 
#(a) The number of characters in the word "anachronistically" is 1 more than the number of characters in the word “counterintuitive." 
#(b) The word "misinterpretation" appears earlier in the dictionary than the word "misrepresentation."
#(c) The letter "e" does not appear in the word "ﬂoccinaucinihilipiliﬁcation." 
#(d) The number of characters in the word "counterrevolution" is equal to the sum of the number of characters in words "counter" and "resolution."
print("a")
first=len("avachronistically")
second=len("counterintuitive")

if first > second:
    print("anachronistically")
else:
    print("counterintuitive")
print("c")
chars="floccinaucinihilipilification"
find="e"
if find in chars:
              print("found")
else:
              print("not found")
print("d")
summ=len("counterevolution")
first=len("counter")
second=len("resolution")
tsum=first+second

if sum == tsum:
               print("yes they are equal")
else:
               print("not equal")

a
anachronistically
c
not found
d
not equal

In [31]:
#exercise 2.27
#a
import math
pi=3.142
length=16
angle=75
radians=pi * angle /180
height=math.sin(angle)*length
print("the height of ladder is", (height))

the height of ladder is -6.204506166550887

In [32]:
#b
import math
pi=3.142
length=20
angle=0
radians=pi * angle /180
height=math.sin(angle)*length
print("the height of ladder is", (height))

the height of ladder is 0.0

In [33]:
#c
import math
pi=3.142
length=24
angle=45
radian=pi * angle /180
height=math.sin(angle)*length
print("the height of the ladder is" , (height))

the height of the ladder is 20.42168458881884

In [34]:
#d
import math
pi=3.142
length=24
angle=80
radian=pi * angle /180
height=math.sin(angle*length)
print("the height of the ladder is" , (height))

the height of the ladder is -0.4678783741810467